<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="keywords" content="blog,博客,菜鸟博客,IT,IT博客,noobug" />
    <title> 菜鸟博客 | blog.noobug.org </title>

    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" />
    <link rel="stylesheet" th:href="@{/css/public.css}" />
    <link rel="stylesheet" th:href="@{/css/nav.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" th:href="@{/css/index.css}" />

    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/public.js}"></script>
</head>

<body>
    <div class="main-body">
        <!-- 顶部导航栏 -->
        <div class="nav-top layui-bg-green">

            <div class="nav-logo">
                <img class="nav-logo" th:src="@{/images/logo.png}" alt="菜鸟博客" style="margin-left:75px;" pc="" />
                <img class="nav-logo" th:src="@{/images/logo.png}" alt="菜鸟博客" style="margin-left:12px;" mobile="" />
            </div>

            <ul th:if="${session.user != null}" class="layui-nav layui-bg-green nav-right" lay-filter="">

                <li class="layui-nav-item" pc="">
                    <a th:href="@{'/blog/' + ${session.user.getAccount()}}">
                        我的博客<span class="layui-badge">9</span>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="#">
                        <img th:src="@{'/' + ${session.user.getIconPath()}}" class="layui-nav-img"/>
                        <span th:text="${session.user.getNickName()}" pc="">FullStack</span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd mobile="">
                            <a th:href="@{'/blog/' + ${session.user.getAccount()}}">我的博客</a>
                        </dd>
                        <dd>
                            <a th:href="@{/user/index}">我的控制台</a>
                        </dd>
                        <dd>
                            <a id="btnUserLogout" href="javascript:;">退出登录</a>
                        </dd>
                    </dl>
                </li>
                <script>

                    // 退出登录按钮响应
                    layui.use(['element', 'layer', 'form'], function () {
                        var $ = layui.jquery;
                        var layer = layui.layer;
                        var form = layui.form;

                        // 退出登录按钮响应
                        $("#btnUserLogout").on("click", function (e) {
                            e.preventDefault();

                            var load = layer.load(1);
                            $.ajax({
                                url: "/api/user/logout",
                                type: "PUT",
                                dataType: "json",
                                success: function (data) {
                                    layer.close(load);
                                    window.location.href = "/index";
                                    return false;
                                }
                            });
                        });
                    });
                </script>
            </ul>

            <ul th:if="${session.user == null}" class="layui-nav layui-bg-green nav-right" lay-filter="">

                <li class="layui-nav-item" pc="">
                    <a id="btnRegist" href="#">注册</a>
                </li>

                <li class="layui-nav-item" pc="">
                    <a id="btnLogin" href="#">登录</a>
                </li>

                <script type="text/html" id="modal-regist">
                <br/>
                <div>
                    <form class="layui-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">帐号</label>
                            <div class="layui-input-inline">
                                <input id="inputRegistAccount" type="text" name="account" required="required" lay-verify="required" placeholder="请输入帐号" autocomplete="off" class="layui-input"/>
                            </div>
                            <div class="layui-form-mid layui-word-aux">由字母和数字组成，限定长度6-24</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">昵称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="nickName" placeholder="请输入昵称，默认为账号" autocomplete="off" class="layui-input"/>
                            </div>
                            <div class="layui-form-mid layui-word-aux">限定长度1-18</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">邮箱</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" required="required" lay-verify="required|email" placeholder="请输入邮箱" autocomplete="off" class="layui-input"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="password" required="required" lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input"/>
                            </div>
                            <div class="layui-form-mid layui-word-aux">限定长度6-24</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">确认密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="password2" required="required" lay-verify="required" placeholder="再次输入密码" autocomplete="off" class="layui-input"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="" lay-filter="formUserRegist">确认注册</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
                </script>

                <script type="text/html" id="modal-login">
                <br/>
                <div>
                    <form class="layui-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">帐号</label>
                            <div class="layui-input-inline">
                                <input id="inputLoginAccount" type="text" name="account" required="required" lay-verify="required" placeholder="请输入帐号" autocomplete="off" class="layui-input"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="password" required="required" lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="" lay-filter="formUserLogin">登录</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
                </script>

                <script>
                    layui.use(['element', 'layer', 'form'], function () {
                        var $ = layui.jquery;
                        var layer = layui.layer;
                        var form = layui.form;

                        // 登录按钮响应
                        $("#btnLogin").on("click", function (e) {
                            e.preventDefault();
                            var modalLogin = $("#modal-login");

                            layer.open({
                                type: 1,
                                title: "用户登录",
                                skin: 'layui-layer-rim',
                                area: ['380px', '240px'],
                                content: modalLogin.html()
                            });

                            $("#inputLoginAccount").focus();

                        });

                        // 注册按钮响应
                        $("#btnRegist").on("click", function (e) {
                            e.preventDefault();
                            var modalRegist = $("#modal-regist");

                            layer.open({
                                type: 1,
                                title: "用户注册",
                                skin: 'layui-layer-rim',
                                area: ['640px', '400px'],
                                content: modalRegist.html()
                            });

                            $("#inputRegistAccount").focus();
                        });

                        // 用户登录表单提交
                        form.on('submit(formUserLogin)', function (data) {
                            var load = layer.load(1);
                            $.ajax({
                                url: "/api/user/login",
                                type: "POST",
                                data: JSON.stringify(data.field),
                                traditional: true,
                                dataType: "json",
                                contentType: "application/json;charset=UTF-8",
                                success: function (data) {
                                    layer.close(load);
                                    if (data.success) {
                                        window.location.href = "/index";
                                        return false;
                                    } else {
                                        layer.msg(data.msg);
                                    }
                                }
                            });

                            return false;
                        });

                        // 用户注册表单提交
                        form.on('submit(formUserRegist)', function (data) {
                            var load = layer.load(1);
                            $.ajax({
                                url: "/api/user/regist",
                                type: "POST",
                                data: JSON.stringify(data.field),
                                traditional: true,
                                dataType: "json",
                                contentType: "application/json;charset=UTF-8",
                                success: function (data) {
                                    layer.close(load);
                                    if (data.success) {
                                        window.location.href = "/index";
                                        return false;
                                    } else {
                                        layer.msg(data.msg);
                                    }
                                }
                            });

                            return false;
                        });

                    });
                </script>
            </ul>
        </div>
        <!-- 主体内容 -->
        <div class="body-content">
            <div class="layui-row">
                <div class="layui-col-md2 layui-col-sm3" pc="">

                    <!-- 侧边栏 -->
                    <div class="sidebar">
                        <div class="sidebar-child">
                            <div class="head">热门搜索</div>
                            <ul>
                                <li>
                                    <a href="#">C/C++</a>
                                </li>
                                <li>
                                    <a href="#">Unity脚本</a>
                                </li>
                                <li>
                                    <a href="#">SpringMVC</a>
                                </li>
                                <li>
                                    <a href="#">3D动画制作</a>
                                </li>
                                <li>
                                    <a href="#">Spring全家桶</a>
                                </li>
                            </ul>
                        </div>

                        <div class="sidebar-child">
                            <div class="head">推荐主题</div>
                            <ul>
                                <li>
                                    <a href="#">C++ Boost库</a>
                                </li>
                                <li>
                                    <a href="#">Java服务端开发</a>
                                </li>
                                <li>
                                    <a href="#">Spring全家桶</a>
                                </li>
                                <li>
                                    <a href="#">Flask框架</a>
                                </li>
                                <li>
                                    <a href="#">Django框架</a>
                                </li>
                                <li>
                                    <a href="#">ASP.NET高级应用</a>
                                </li>
                                <li>
                                    <a href="#">3D动画制作</a>
                                </li>
                            </ul>
                        </div>

                        <div class="sidebar-child">
                            <div class="head">便捷入口</div>
                            <ul>
                                <li>
                                    <a href="#">意见反馈</a>
                                </li>
                                <li>
                                    <a href="#">友情链接</a>
                                </li>
                                <li>
                                    <a href="#">捐赠/Donate</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md9 layui-col-sm9 layui-col-xs12">
                    <div class="main-content">
                        <div class="content-header">最新文章
                            <span>查看更多...</span>
                        </div>

                        <div class="content-body">
                            <ul id="ulNewestArticle" class="layui-timeline">
                                
                            </ul>
                        </div>

                        <div class="content-header">热门文章
                            <span>查看更多...</span>
                        </div>

                        <div class="content-body">
                            <ul class="layui-timeline">
                                <li class="layui-timeline-item">
                                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                    <div class="layui-timeline-content layui-text">
                                        <h3 class="layui-timeline-title">layui 2.0 的一切准备工作似乎都已到位。发布之弦，一触即发。</h3>
                                        <p>
                                            <span class="art-span art-author layui-elip">代达罗斯之殇123123123</span>
                                            <span class="art-span art-time layui-elip">1秒前</span>
                                            <span class="art-span art-label layui-elip" pc="">Unity</span>
                                            <span class="art-span art-count">
                                                <i class="layui-icon">&#xe6c6;</i> 35 &nbsp;&nbsp;
                                                <i class="layui-icon">&#xe611;</i> 11
                                            </span>
                                        </p>
                                    </div>
                                </li>
                                <li class="layui-timeline-item">
                                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                    <div class="layui-timeline-content layui-text">
                                        <h3 class="layui-timeline-title">杜甫的思想核心是儒家的仁政思想，他有“</h3>
                                        <p>
                                            <span class="art-span art-author layui-elip">代达罗斯之殇</span>
                                            <span class="art-span art-time layui-elip">1秒前</span>
                                            <span class="art-span art-label layui-elip" pc="">Unity</span>
                                            <span class="art-span art-count">
                                                <i class="layui-icon">&#xe6c6;</i> 35 &nbsp;&nbsp;
                                                <i class="layui-icon">&#xe611;</i> 11
                                            </span>
                                        </p>
                                    </div>
                                </li>
                                <li class="layui-timeline-item">
                                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                    <div class="layui-timeline-content layui-text">
                                        <h3 class="layui-timeline-title">8月15日</h3>
                                        <p>
                                            <span class="art-span art-author layui-elip">代达罗斯之殇</span>
                                            <span class="art-span art-time layui-elip">1秒前</span>
                                            <span class="art-span art-label layui-elip" pc="">Unity</span>
                                            <span class="art-span art-count">
                                                <i class="layui-icon">&#xe6c6;</i> 35 &nbsp;&nbsp;
                                                <i class="layui-icon">&#xe611;</i> 11
                                            </span>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="content-header">推荐博主
                            <span>换一换</span>
                        </div>

                        <div class="content-body">
                            <div class="layui-row">
                                <div class="layui-col-lg3 layui-col-md3 layui-col-sm3 layui-col-xs6">
                                    <div class="user-profile">
                                        <img src="images/default_icon.png" alt="头像" />
                                        <br/>
                                        <br/>
                                        <span>代达罗斯之殇</span>
                                        <br/>
                                        <br/>
                                        <button class="layui-btn layui-btn-sm">
                                            <i class="layui-icon">&#xe654;</i>关 注
                                        </button>
                                    </div>
                                </div>
                                <div class="layui-col-lg3 layui-col-md3 layui-col-sm3 layui-col-xs6">
                                    <div class="user-profile">
                                        <img src="images/i1.jpg" alt="头像" />
                                        <br/>
                                        <br/>
                                        <span>天零萃梦</span>
                                        <br/>
                                        <br/>
                                        <button class="layui-btn layui-btn-sm">
                                            <i class="layui-icon">&#xe654;</i>关 注
                                        </button>
                                    </div>
                                </div>
                                <div class="layui-col-lg3 layui-col-md3 layui-col-sm3 layui-col-xs6">
                                    <div class="user-profile">
                                        <img src="images/i2.jpg" alt="头像" />
                                        <br/>
                                        <br/>
                                        <span>武穆雪</span>
                                        <br/>
                                        <br/>
                                        <button class="layui-btn layui-btn-sm">
                                            <i class="layui-icon">&#xe654;</i>关 注
                                        </button>
                                    </div>
                                </div>
                                <div class="layui-col-lg3 layui-col-md3 layui-col-sm3 layui-col-xs6">
                                    <div class="user-profile">
                                        <img src="images/default_icon.png" alt="头像" />
                                        <br/>
                                        <br/>
                                        <span>代达罗斯之殇</span>
                                        <br/>
                                        <br/>
                                        <button class="layui-btn layui-btn-sm">
                                            <i class="layui-icon">&#xe654;</i>关 注
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="layui-footer footer footer-doc">
            <p>© 2017
                <a href="/">blog.noobug.org</a> 闽ICP备17017285</p>
            <p>转载文章请注明出处</p>
            <p>
                <a href="http://fly.layui.com/jie/3147.html" target="_blank">捐赠我们</a>
                <a href="mailto:976228284@qq.com">联系站长</a>
                <a href="http://fly.layui.com/jie/4281.html" target="_blank">Git仓库</a>
            </p>
        </div>
    </div>

    <div class="top-tool">
        <i class="layui-icon" style="font-size:40px;">&#xe604;</i>
    </div>

    <script type="text/html" id="item-newest-article">
        <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
            <div class="layui-timeline-content layui-text">
                <h3 class="layui-timeline-title">{{d.title}}</h3>
                <p>
                    <span class="art-span art-author layui-elip">{{d.userNickName}}</span>
                    <span class="art-span art-time layui-elip">{{d.ago}}</span>
                    <span class="art-span art-label layui-elip" pc="">{{d.columnTitle}}</span>
                    <span class="art-span art-count">
                        <i class="layui-icon">&#xe6c6;</i> 35 &nbsp;&nbsp;
                        <i class="layui-icon">&#xe611;</i> 11
                    </span>
                </p>
            </div>
        </li>
    </script>
    <script>
        layui.use(['element','laytpl', 'layer'], function () {
            var element = layui.element;
            var laytpl = layui.laytpl;
            var $ = layui.jquery;
            var layer = layui.layer;

            $(".top-tool").on("click", function () {
                window.scrollTo(0, 0);
            });

            StartLoading(1);

            // 初始化最新文章
            $.ajax({
                url: "/api/article/allNewestShow",
                type: "GET",
                data: {"page": 1, "limit":3},
                dataType: "json",
                success: function (data) {
                    CheckLoading();

                    if (data.success) {
                        var template = $("#item-newest-article").html();
                        $.each(data.data, function(i, obj){
                            // 计算ago
                            obj.ago = CountAgo(obj.gmtCreate);
                            // 改变标题
                            if(obj.typeFlag == 2) obj.title = "【转载】" + obj.title;
                            else if(obj.typeFlag == 3) obj.title = "【翻译】" + obj.title;

                            laytpl(template).render(obj, function (str) {
                                $("#ulNewestArticle").append(str);
                            });
                        });
                        return false;
                    } else {
                        layer.msg(data.msg);
                    }
                    
                }
            });
        });
    </script>
</body>

</html>